###################################################
###Welcome to Devbots...!!!###########################
###################################################

{# Hello Mr. {{ name }}, . We are pleased to have you #}
on board. Following are you details:

Date of joining: {{ date }}
Year of bond: {{ bond }}

Total leaves:

Sick leaves: {{ sick }}
earned leaves: {{ el }}
{# casual leaves: {{ cl }}    // this is comment in jija #}

{# welcome to devbots #}

{% if 12 ==15 %}
hi vk
{% else %}
hi user2
{% endif %}


{% for x in login %}

hello {{x}}

{% endfor %}



good bye...
